//全局
body{
  font-family: PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
.font12{
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.25px;
}
.font14{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.29px;
}
.font30{
  font-size: 30px !important;
  color: #333333;
  letter-spacing: 0.62px;
}
.bold{
  font-weight:bold;
}
// 工作台
.work-bench{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.29px;
  .under-line{
    cursor:pointer;
    &:hover{
      color:#54B8FF;
      text-decoration:underline;
    }
  }
  .no-border{
    border:none !important;
  }
  .bold{
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.29px;
    font-weight:bold;
  }
  .el-card__header{
    border-bottom: 1px solid #ccc;
    padding:10px 15px;
  }
  .card-container{
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(39,48,69,0.10);
    border-radius: 2px;
  }
  .item-content{
    width:100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
  }
}
.el-card__body{
  padding: 2%
}
.circle{
  width:6em;
  height:65px;
  border-radius:40px;
  line-height:65px;
  /*float:left;*/
  margin: 0 auto;
  text-align:center;
}
.line-center{
  font-size:14px;
  font-weight:bold;
}
.p-item{
  margin-top:23%;
  margin-left:-4%;
  float:left
}
.text-align-center{
  margin-top:1%;
  line-height:40px;
}
.squash-item{
  width: 80px;
  height: 25px;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  border:solid #36a9ce 1px;
  line-height: 25px;
  font-weight:500;
  background-color:#36a9ce;
}
.work-table-style{
  
  margin-top:1.8%;
}
.work-title-style{
  margin-bottom:5px;
}
//全局主题1 绿色主色调
// $logo:#244855 !default;
// $navbar:#F2FEFE !default;
// $tagsBar:#F2FEFE !default;
// $tagsItem1:#F2FEFE !default;
// $tags:#fff !default;
// $tagsPoint:#2C6075 !default;
// $message:#90B644 !default;
// $user:#e98341 !default;
// $theme:#2C6075 !default;
// $main:#fff !default;
// $thead:#2C6075 !default;
// $btnPrimary:#90B644 !default;
// $btnSuccess:#90B644 !default;
// $btnDanger:#E98341 !default;
// $pageAct:#2C6075 !default;
// $menu:#244855 !default;
// //memu一级菜单
// $menuItem1:#244855 !default;
// $menuItemHover1:#1F404D !default;
// $hambergerBar:#244855 !default;
// $hambergerBarHover:#1F404D !default;
// //menu二级菜单
// $menu2Item1:#2C6075 !default;
// $menu2ItemHover1:#1F404D !default;
// .theme1{
//   .navbar {
//     background:$navbar !important;
//     #logo {
//       background:$logo !important;
//     }
//     .message button{
//       background:$message !important;
//       border-color:$message !important;
//     }
//     .user button{
//       background:$user !important;
//       border-color:$user !important;
//     }
//     .theme button{
//       background:$theme !important;
//       border-color:$theme !important;
//     }
//     //tab
//     .tags-view-container .tags-view-wrapper {
//       background:$tagsBar !important;
//       .tags-view-item{
//         background:$tagsItem1 !important;
//         border:none !important;
//         height:30px !important;
//       }
//       .tags-view-item.active::before{
//         background:$tagsPoint !important;
//       }
//       .tags-view-item.active {
//         background-color: $tags !important;
//         color: #000 !important;
//         border-color: $tags !important;
//       }
//     }
//   }
//   //主体
//   .main-container{
//     background:$main !important;
//     thead tr th{
//       background:$thead !important;
//       color:#fff;
//     }
//   }
//   //按钮
//   //primary
//   .el-button--primary{
//     background-color: $btnPrimary !important;
//     border-color: $btnPrimary !important;
//     &:hover{
//       background-color: $btnPrimary !important;
//       border-color: $btnPrimary !important;
//       opacity:0.7;
//     }
//     &:active{
//       background-color: $btnPrimary !important;
//       border-color: $btnPrimary !important;
//       opacity:1;
//     }
//   }
//   //success
//   .el-button--success{
//     background-color: $btnSuccess !important;
//     border-color: $btnSuccess !important;
//     &:hover{
//       background-color: $btnSuccess !important;
//       border-color: $btnSuccess !important;
//       opacity:0.7;
//     }
//     &:active{
//       background-color: $btnSuccess !important;
//       border-color: $btnSuccess !important;
//       opacity:1;
//     }
//   }
//   //danger
//   .el-button--danger{
//     background-color: $btnDanger !important;
//     border-color: $btnDanger !important;
//     &:hover{
//       background-color: $btnDanger !important;
//       border-color: $btnDanger !important;
//       opacity:0.7;
//     }
//     &:active{
//       background-color: $btnDanger !important;
//       border-color: $btnDanger !important;
//       opacity:1;
//     }
//   }
//   //激活的页码
//   .el-pagination.is-background .el-pager li:not(.disabled).active {
//     background-color: $pageAct !important;
//     color: #fff;
//   }
//   .el-pagination.is-background .el-pager li:not(.disabled):hover {
//     color: #90B644 !important;
//   }
//   //hamberger
//   .hamberger-bar{
//     background:$hambergerBar !important;
//     &:hover{
//       background:$hambergerBarHover !important;
//     }
//   }
//   //menu
//   .el-scrollbar__view .el-menu{
//     background:$menu !important;
//     //一级
//     .menu-wrapper .el-submenu__title{
//       background:$menuItem1 !important;
//       &:hover{
//         background:$menuItemHover1 !important;
//       }
//     }
//     //二级
//     .el-menu-item{
//       background:$menu2Item1 !important;
//       &:hover{
//         background:$menu2ItemHover1 !important;
//       }
//     }
//   }
// }
//-----------------------------------------------------------------------------
//全局主题2 咖啡色主色调
$logo2:#000000 !default;
$navbar2:#9a9a9a !default;
$tagsBar2:#9a9a9a !default;
$tagsItem2:#9a9a9a !default;
$tags2:#e7e7e7 !default;
$tagsPoint2:#000000 !default;
$message2:#2473ea !default;
$user2:#e7e7e7 !default;
$theme2:#e7e7e7 !default;
$main2:#e7e7e7 !default;
$thead2:#9a9a9a !default;
$btnPrimary2:#2473ea !default;
$btnSuccess2:#2473ea !default;
$btnDanger2:#5e3930 !default;
$pageAct2:#2473ea !default;
$menu2:#000000 !default;
//memu一级菜单
$menuItem2:#000000 !default;
$menuItemHover2:#503029 !default;
$hambergerBar2:#000000 !default;
$hambergerBarHover2:#5e3930 !default;
//menu二级菜单
$menu2Item2:#5e3930 !default;
$menu2ItemHover2:#503029 !default;
.theme2{
  .navbar {
    background:$navbar2 !important;
    #logo {
      background:$logo2 !important;
    }
    .img-all{
      border: 3px solid #e7e7e7;
      
    }
    .img-all:hover{
      box-shadow: 0px 0px 5px 2px #e7e7e7;
    }
    .message button{
      background:$message2 !important;
      border-color:$message2 !important;
    }
    .user button{
      background:$user2 !important;
      border-color:$user2 !important;
    }
    .theme button{
      background:$theme2 !important;
      border-color:$theme2 !important;
    }
    //tab
    .tags-view-container .tags-view-wrapper {
      background:$tagsBar2 !important;
      .tags-view-item{
        background:$tagsItem2 !important;
        border:none !important;
        height:30px !important;
      }
      .tags-view-item.active::before{
        background:$tagsPoint2 !important;
      }
      .tags-view-item.active {
        background-color: $tags2 !important;
        color: #000 !important;
        border-color: $tags2 !important;
      }
    }
  }
  //主体
  .main-container{
    background:$main2 !important;
    thead tr th{
      background:$thead2 !important;
      color:#fff;
    }
  }
  //按钮
  // text
  .el-button--primary{
    border-color: $btnPrimary2 !important;
    &:hover{
      border-color: $btnPrimary2 !important;
      opacity:0.7;
    }
    &:active{
      border-color: $btnPrimary2 !important;
      opacity:1;
    }
  }
  //primary
  .el-button--primary{
    background-color: $btnPrimary2 !important;
    border-color: $btnPrimary2 !important;
    &:hover{
      background-color: $btnPrimary2 !important;
      border-color: $btnPrimary2 !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnPrimary2 !important;
      border-color: $btnPrimary2 !important;
      opacity:1;
    }
  }
  //success
  .el-button--success{
    background-color: $btnSuccess2 !important;
    border-color: $btnSuccess2 !important;
    &:hover{
      background-color: $btnSuccess2 !important;
      border-color: $btnSuccess2 !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnSuccess2 !important;
      border-color: $btnSuccess2 !important;
      opacity:1;
    }
  }
  //danger
  .el-button--danger{
    background-color: $btnDanger2 !important;
    border-color: $btnDanger2 !important;
    &:hover{
      background-color: $btnDanger2 !important;
      border-color: $btnDanger2 !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnDanger2 !important;
      border-color: $btnDanger2 !important;
      opacity:1;
    }
  }
  //激活的页码
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: $pageAct2 !important;
    color: #fff;
  }
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #9a9a9a !important;
  }
  //hamberger
  .hamberger-bar{
    background:$hambergerBar2 !important;
    &:hover{
      background:$hambergerBarHover2 !important;
    }
  }
  //menu
  .el-scrollbar__view .el-menu{
    background:$menu2 !important;
    //一级
    .menu-wrapper .el-submenu__title{
      background:$menuItem2 !important;
      &:hover{
        background:$menuItemHover2 !important;
      }
    }
    //二级
    .el-menu-item{
      background:$menu2Item2 !important;
      &:hover{
        background:$menu2ItemHover2 !important;
      }
    }
  }
}
//-----------------------------------------------------------------------------
//全局主题1 绿色主色调
$logo:#242A2E !default;
$navbar:#fff !default;
$tagsBar:#fff !default;
$tagsItem1:rgb(38, 43, 43) !default;
$tags:#fff !default;
$tagsPoint:#2C6075 !default;
$message:#90B644 !default;
$user:#e98341 !default;
$theme:#2C6075 !default;
$main:#F3F5FA !default;
$thead:#F3F5FA !default;
$btnPrimary:#57AFFF !default;
$btnSuccess:#90B644 !default;
$btnDanger:#E98341 !default;
$pageAct:#4880FF !default;
$menu:#242A2E !default;
//memu一级菜单
$menuItem1:#242A2E !default;
$menuItemHover1:#181d20 !default;
// $hambergerBar:#242A2E !default;
// $hambergerBarHover:#181d20 !default;
//menu二级菜单
$menu2Item1:#32393F !default;
$menu2ItemHover1:#57AFFF !default;
.theme1{
  .navbar {
    background:$navbar !important;
    #logo {
      background:$logo !important;
    }
    // .message button{
    //   background:$message !important;
    //   border-color:$message !important;
    // }
    // .user button{
    //   background:$user !important;
    //   border-color:$user !important;
    // }
    // .theme button{
    //   background:$theme !important;
    //   border-color:$theme !important;
    // }
    //tab
    .tags-view-container .tags-view-wrapper {
      background:$tagsBar !important;
      .tags-view-item{
        // background:$tagsItem1 !important;
        // background:red !important;
        border:none !important;
      //   height:39px !important;
      //   line-height:39px !important;
        &:hover{
          border-bottom:2px solid #54B8FF !important;
        }
      }
      .tags-view-item.active::before{
        // background:$tagsPoint !important;
        display:none;
      }
      .tags-view-item.active {
        background-color: $tags !important;
        // background-color: red !important;
        // border-color: $tags !important;
        border-bottom:2px solid #54B8FF !important;
        // &:hover{
        //   height:26px !important;
        // }
      }
    }
  }
  //主体
  .main-container{
    background:$main !important;
    // 表格
    thead tr th{
      background:$thead !important;
      font-weight: normal;
    }
  }
  //按钮
  //primary
  .el-button--primary{
    background-color: $btnPrimary !important;
    border-color: $btnPrimary !important;
    &:hover{
      background-color: $btnPrimary !important;
      border-color: $btnPrimary !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnPrimary !important;
      border-color: $btnPrimary !important;
      opacity:1;
    }
    &.is-plain{
      background: rgba(87,175,255,0.10) !important;
      border: 1px solid #57AFFF !important;
      border-radius: 2px !important;
    }
  }
  //success
  .el-button--success{
    background-color: $btnSuccess !important;
    border-color: $btnSuccess !important;
    &:hover{
      background-color: $btnSuccess !important;
      border-color: $btnSuccess !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnSuccess !important;
      border-color: $btnSuccess !important;
      opacity:1;
    }
  }
  //danger
  .el-button--danger{
    background-color: $btnDanger !important;
    border-color: $btnDanger !important;
    &:hover{
      background-color: $btnDanger !important;
      border-color: $btnDanger !important;
      opacity:0.7;
    }
    &:active{
      background-color: $btnDanger !important;
      border-color: $btnDanger !important;
      opacity:1;
    }
  }
  .el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover{ //禁用的样式
    color: #fff !important;
    cursor: not-allowed !important;
    background-image: none !important;
    background-color: #ccc !important;
    border-color: #ccc !important;
    &.el-button--text{
      background:none !important;
      border:none !important;
      color:#ccc !important;
    }
  }
  //激活的页码
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: $pageAct !important;
    // color: #fff;
  }
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: $pageAct !important;
  }
  //hamberger
  .hamberger-bar .hamburger{
    background:url(../../static/images/menu_btn.png) !important;
    // &:hover{
    //   background:$hambergerBarHover !important;
    // }
  }
  //menu
  .el-menu.el-menu--popup{
    background:$menu !important;
    .el-menu-item{
      background:$menu !important;
      &:hover{
        background:$menuItemHover1 !important;
      }
    }
  }
  .el-scrollbar__view .el-menu{
    background:$menu !important;
    //一级
    .menu-wrapper .el-submenu__title{
      color:#fff !important;
      background:$menuItem1 !important;
      i {
        color:#fff !important;
      }
      &:hover{
        background:$menuItemHover1 !important;
      }
    }
    //二级
    .el-menu-item{
      color:#fff !important;
      background:$menu2Item1 !important;
      &.is-active{
        background:$menu2ItemHover1 !important;
      }
      &:hover{
        background:$menu2ItemHover1 !important;
      }
    }
  }
}